@media (max-width: 980px){
    .navbar{
        font-size: 10px;
        
        
    }
    .navbar img{
        transform: scale(0.9);
        font-size: 20px;
    }
    .navbar ul{
        margin-top: 20px;
        

    }
    .navbar li{
        padding: 3px;
    }
    .navbar li a{
        padding: 5px;
        margin: 0 5px;
    }
    .navbar ul.navbar-nav > li:last-of-type .dropdown-menu {
        position: relative;
        left: 0;
        
    }

    .carousel-inner .carousel-caption p {
        display: none;
    }
    .carousel-caption{
        background: none ;
        box-shadow: none ;
backdrop-filter: none ;
-webkit-backdrop-filter: none ;
border: none;
    }
    .carousel-caption .btn{
        width: 98% !important;
        background-color: #0472e0;
    }
    div.alert {
        text-align: center;
        font-size: 15px;
    }
    h1.bannerHeader{
        font-size: 1.5em;
    }
    div.hero{
        padding: 40px 20px;
    }
    div.hero div.container a{
        width: 100%;
    }
    div.hero div.container h1{
        font-size: 2em;
    }
    div.card div.content{
        flex-direction: column;
    }
    div.content .column{
        width: 100%;
    }
    div.ourStory, div.whoAreWe{
        width: 90%;
    }
    div.ourStory h1, div.whoAreWe h1{
        font-size: 2em;
    }
    .container-company{
        flex-direction: column;
        gap: 10px 10px;
    }
    div.founder, div.company{
        margin: 20px auto;
        width: 95%;
        text-align: center;
        
    }
    div.company p{
        text-align: center;
    }
    div.company{
        margin-top: 120px;
    }

    div.about-us-title{
        font-size: 3.5em;
        width: 100%;
    }
    div.slogan{
        font-size: 1.3em;
    }
    div.contact-columns{
        flex-direction: column;
        gap:30px;
    }
    div.contact-column{
        width: 90%;
        margin: 0 auto;
    }
    div.message-columns{
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
        width: 90%;
    }
    div.message-column{
        width: 100%;
    }
    div.message-column h1{
        font-size: 2em;
        text-align: center;
    }
    div.message-column button{
        margin: 20px auto;
        width: 100%;
    }
}