@media (max-width: 980px){
    .navbar{
        font-size: 10px;
        
        
    }
    .navbar img{
        transform: scale(0.9);
        font-size: 20px;
    }
    .navbar ul{
        margin-top: 5px;
        

    }
    .navbar li{
        padding: 5px 10px;
    }
    .navbar li a{
        padding: 5.5px 20px !important; 
        margin: 0 5px;
    }
    .navbar ul.navbar-nav > li:last-of-type .dropdown-menu {
        position: relative;
        left: 0;
        
    }

    .carousel-inner .carousel-caption p {
        display: none;
    }
    .carousel-caption{
        background: none ;
        box-shadow: none ;
backdrop-filter: none ;
-webkit-backdrop-filter: none ;
border: none;
    }
    .carousel-caption .btn{
        width: 98% !important;
        background: rgba( 0, 151, 255, 0.6 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 6px );
        -webkit-backdrop-filter: blur( 6px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        font-size: 80%;
        
    }
    div.alert {
        text-align: center;
        font-size: 15px;
    }
    h1.bannerHeader{
        font-size: 1.5em;
    }
    div.hero{
        padding: 40px 20px;
    }
    div.hero div.container a{
        width: 100%;
    }
    div.hero div.container h1{
        font-size: 2em;
    }
    div.card div.content{
        flex-direction: column;
    }
    div.content .column{
        width: 100%;
    }
    div.ourStory, div.whoAreWe{
        width: 90%;
    }
    div.ourStory h1, div.whoAreWe h1{
        font-size: 2em;
    }
    .container-company{
        flex-direction: column;
        gap: 10px 10px;
    }
    div.founder, div.company{
        margin: 20px auto;
        width: 95%;
        text-align: center;
        
    }
    div.company p{
        text-align: center;
    }
    div.company{
        margin-top: 120px;
    }

    div.about-us-title{
        font-size: 3em;
        width: 100%;
    }
    div.slogan{
        font-size: 1.3em;
    }
    div#contactHeader{
        font-size: 2em;
    }
    div.contact-columns{
        flex-direction: column;
        gap:30px;
    }
    div.contact-column{
        width: 90%;
        margin: 0 auto;
    }
    div.message-columns{
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
        width: 90%;
    }
    div.message-column{
        width: 100%;
    }
    div.message-column h1{
        font-size: 2em;
        text-align: center;
    }
    div.message-column button{
        margin: 20px auto;
        width: 100%;
    }
    div#imageGallery{
        flex-direction: column;
    }
    div#imageGallery a{
        width: 100%;
        
    }
    div.galleryContainer a#galleryButton{
        width: 100%;

    }
    div#newsLetter{
        width: 90%;
    }
    div#newsLetter h1{
        font-size: 2em;
    }
    div#newsLetter div.newsLetterForm{
        width: 100%;
    }
    div#newsLetter div.newsLetterForm form{
        width: 100%;
    }
    div#newsLetter form input[type="email"]{
        width: 100%;

    }
    div#newsLetter form button{
        
        width: 100%;
    }
    div#blog, #faq{
        flex-direction: column;
        margin: 10px auto;
    }
    div#blog div#blog-container, #faq div#faq-container{
        width: 100%;
        justify-content: center;
        margin: 10px auto;
        
    }
    div#blog div#blog-container div.blog, #faq div#faq-container .accordion{
        width: 90%;
        margin: 20px auto;
    }
    div#blog div#blog-container div.blog h2{
        font-size: 1.2em;
    }
    div#blog div#blog-container div.blog p{
        font-size: 1em;
    }
    div#blog div#blog-container div.blog img{
        height: 200px;
    }
    div#blog div#blog-category-container, #faq div#faq-category-container{
        width: 90%;
        margin: 20px auto;
        align-items: start;
    }
    h2.faq-category-header{
        width: 90%;
    }
    div#blogHeader, div#faqHeader{
        font-size: 2em;
    }
    div#sponsors-container{
        width: 90%;
    }
    div#sponsors-container div.sponsor-container{
        width: 40%;
    }
    div.partner-container{
        flex-direction: column;
    }
    div.partner-container button{
        width: 100%;
    }
    div.partner-container img{
        width: 100%;
    }
    div.partner-container h1{
        font-size: 2em !important;
    }
    div.partner-container p{
        font-size: 1em !important;
    }
    div.hero-jobs-title, div.hero-sponsors-title, div.hero-faq-title, div.hero-blog-title{
        font-size: 3em;
    }
}