/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );

  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(25, 97, 221, 0.6);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    border-radius: 20px;
    transition: all 1s;
    height: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #0472e0;
  }


html {
    scroll-behavior: smooth;

}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    padding-top: 120px;
    box-sizing: border-box;
    height: 100vh;
    background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");

    

}
div.container.tehnologije img{
    height: 200px;
}
.navbar .navbar-brand img{
    width: 200px;
    
    margin: 0 10px;
    
    

}

.navbar{
    background-color: rgba(255, 255, 255, 0.808) !important;
    position: fixed;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    top: 0;
    z-index: 2000;
    width: 100%;
    
   
    
    
}
.navbar li{
    
    padding: 5px 10px;
    
}
.navbar ul.navbar-nav> li:last-of-type{
    margin-right: 0px;
}
.navbar .dropdown-menu{
    background-color: rgba(255, 255, 255, 0.908);
    border: none;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    border-radius: 5px;
    margin: 0 5px;
    width: 350px;
}
.navbar ul.navbar-nav > li:last-of-type .dropdown-menu {
    left: -170px;
    position: absolute;
}
.navbar-toggler{
    background-color: rgba(0, 162, 255, 0.9);
    border: none;
    color: white;
    font-size: 20px;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    border-radius: 5px;
    margin: 0 5px;

}

.navbar-toggler:not(.collapsed) {
    background-color: rgba(0, 89, 255, 0.9); /* Replace with your desired color */
}
.navbar li a{
    text-decoration: none;
    
    padding: 10px 20px !important; 
    margin: 0 0px;
    color: rgb(171, 171, 171);
    font-size: 20px;
    transition: all 0.5s ease;
}
.navbar li a i{
    margin-right: 10px;
}
.navbar li a:hover{
    background-color: #178bff;
    border-radius: 5px;
    
    color: white;
}
.navbar a.active-link{
    background-color: #0472e0;
    border-radius: 5px;
    margin: 0 0px;
    color: white;
}

a.dropdown-toggle.show{
    background-color: #0472e0;
    border-radius: 5px;
    margin: 0px 0px;
    color: white !important;
}
footer{
    background-color: #0472e0 !important;
    color: white;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    
    
}
footer .fa{
    color: white;
    
    overflow: hidden;
}
.carousel-item{
    
    object-fit: cover;
    
   
    

}
.carousel-item img{
    
    object-fit: cover;
    margin: 0 auto;
    
}
.carousel-inner{
    position: relative;

}
.carousel-inner .description{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    color: white;
    font-size: 30px;
    background: linear-gradient(90deg, rgb(218, 130, 15), rgb(255, 123, 0), rgb(240, 168, 35));
    padding: 20px;
    border-radius: 20px;
    font-weight: bold;
    
    
}
.carousel-caption{

   width: 50%;
    margin: 0 auto;
    
    color: white;
    
    margin-bottom: 20px;
    padding: 20px 0px;
    border-radius: 20px;
    font-weight: bold;
    background: rgba( 0, 151, 255, 0.6 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 6px );
-webkit-backdrop-filter: blur( 6px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.carousel-caption .btn{
    color: white;
    font-weight: bold;
    border: 2px solid white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    margin: 0 auto;
    overflow: hidden;
}
.carousel-caption .btn::before{
    content: '→';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    transition: all 0.5s ease;
    transform: translateY(100%);
    color: #0472e0;
}
.carousel-caption .btn:hover::before{
    transform: translateY(0%);
}
.bannerHeader{
    background: linear-gradient(90deg, rgb(240, 168, 35), rgb(255, 123, 0), rgb(240, 168, 35));
    color: white;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    font-size: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-weight: bold;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 6px );
-webkit-backdrop-filter: blur( 6px );

border: 1px solid rgba( 255, 255, 255, 0.18 );
    
}


.container { margin: 3% auto; }

.ikona { max-width: 180px; }

.container.tehnologije h1 {
	padding-bottom: 15px;
	font-weight: bold;
    margin-bottom: 1.5em;
}

.container.tehnologije h3 {	
    font-size: 1.5em;
    color: gray; 
    margin-top: 10px;
}



#besedilo {	background-color: #ececec; }


.card{
    
    border:none;
}

.user-content p{
    margin-top:5px;
    font-size:12px;
}


.ratings i{
    color:blue;
}
div.container.tehnologije h1{
    text-align: center;
    margin: 20px auto;
}
div.user-image img{
    width: 150px;
    margin-bottom: 10px;
}
.user-content p{
    font-size: 20px;
    font-style: italic;
}

div.alert{
    position: fixed;
    bottom: 0;
    margin: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba( 0, 151, 255, 0.9 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 6px );
-webkit-backdrop-filter: blur( 6px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
color: white;
gap: 5px;

}
div.alert button{
    
    top: 0;
    right: 0;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;

}
div.alert i{
    margin: 0px 10px;
}
div.alert {
    text-align: center;
}
.carousel-control-next:hover, .carousel-control-prev:hover{
    
    background: rgba( 0, 151, 255, 0.2 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 12px );
-webkit-backdrop-filter: blur( 6px );

border: 1px solid rgba( 255, 255, 255, 0.18 );
}
div.hero{

    background-image: url('../SLIKE/Office4.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    
    box-sizing: border-box;
    overflow: hidden;
}
div.hero::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background: rgba( 0, 151, 255, 0.3 );
    
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    z-index: 0;
    
    
    
}
div.hero div.container{
    position: relative;
    z-index: 900;
    background-color: rgba(255, 255,255,0.9);
    padding: 20px;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    border-radius: 10px;
}
div.hero div.container img{
    width: 90%;
    border-radius: 20px;
    
    
}
div.hero div.container a{
    color: #0472e0;
    font-weight: bold;
    border: 2px solid #0472e0;
    padding: 10px 20px;
    border-radius: 20px;
    
    text-decoration: none;
    transition: all 0.3s;
    margin-bottom: 10%;
}
div.hero div.container a:hover{
    background-color: #0472e0;
    color: white;
}
div.hero div.container h1{
    font-size: 3em;
    font-weight: bold;
    
    
}
div.hero div.container p{
    text-align: justify;
    margin-bottom: 10%;
    
}
div.reviews div.card{
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0px 16px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    margin: 20px 10px;
}
div.hero.about-us{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    background-image: url(../SLIKE/group.jpg);
}

div.about-us-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    color: white;
    font-size: 40px;
font-weight: bold;
    padding: 20px;
    border-radius: 20px;
    font-weight: bold;
    text-align: center;
    width: 50%;

    
    font-size: 100px;
}
div.slogan{
    background-color: rgba(255, 255, 255, 0.108);
    color: rgb(132, 131, 131);
    padding: 20px 0;
    text-align: center;
    width: 100%;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    font-style: italic;
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    

}
div.ourStory, div.whoAreWe{
    width: 70%;
    margin: 2em auto;
}
div.ourStory h1, div.whoAreWe h1{
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 0.5em;
}
div.card{
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    
}
div.card .content{
 display: flex;
    justify-content: space-evenly;
    align-items: center;

}
div.content .column{
    width: 45%;
    

}
div.content .column img{
    width: 100%;
    border-radius: 20px;
}
div.content p{
    font-size: 15px;
    text-align: justify;
    font-style: italic;
}
div.content i{
    margin-right: 10px;
}
div.founder{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left:  15%;
    position: relative;
    z-index: 900;
    width: 30%;
    height: 411px;
}

h1.about-us.header{
    text-align: center;
    margin: 20px auto;
    font-weight: bolder;
    position: relative;
    z-index: 900;
    color: white;
}
div.company{
    background-color: white;
    z-index: 900;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 15%;
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 0px 0px;
    box-sizing: border-box;
    box-shadow: 0px 0px 16px 0 rgba( 31, 38, 135, 0.37 );
    border-radius: 20px;
    overflow: hidden;
    
}
div.company img{
    width: 100%;
    
    
}
div.company a{
    color: #0472e0;
    font-weight: bold;
    border: 2px solid #0472e0;
    padding: 10px 20px;
    border-radius: 20px;
    width: 80%;
    text-decoration: none;
    transition: all 0.3s;
    margin: 5% 10%;
    text-align: center;
    position: relative;
    overflow: hidden;

}
div.company a::before{
    content: '→';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0472e0;
    display: flex;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    transition: all 0.2s;
    transform: translateY(100%);
    color: white;
    
}
div.company a:hover::before{
    transform: translateY(0%);
}
div.container-company{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;

}

div.company p{
    padding: 20px;
    text-align: justify;
    font-style: italic;
    font-size: 20px;
}
div.contact-columns{
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    
    margin: 20px auto;
    z-index: 900;
    gap: 10%;
}
div.icon{
    font-size: 40px;
    
    height: 90px;
    width: 90px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    background-color: rgb(255, 195, 143);
    color: white;
    text-align: center;
    margin: auto;
}
div.contact-card:hover div.icon{
    background-color: rgb(253, 141, 14);
    color: white;
}

div.text{
    text-align: center;
    color: white;
    font-size: 20px;
    
    padding: 20px;
    border-radius: 20px;
    
    margin-top: 20px;
}
div.text h3{
    font-size: 30px;
    font-weight: bold;
}
div.contact-card{
    background-color: rgba(0, 162, 255, 0.3);
    padding: 20px 40px;
    border-radius: 20px;
    box-shadow: 0 0px 16px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    
}
div.phone-text h3, div.email-text h3{
    font-size: 20px;
    font-weight: bold;
    color: white;
}
div.phone-text h2, div.email-text h2{
    font-size: 30px;
    font-weight: bold;
}
div.message-columns{
    display: flex;
    justify-content: center;
    
    gap: 3%;
    margin: 3em auto;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.808);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0px 16px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
}
div.message-column{
    display: flex;
    flex-direction: column;
    
}

div.column-1{
    width: 50%;
}
div.column-2{
    width: 60%;
}
div.message-column h1{
    font-size: 2em;
    font-weight: bold;
    
    color: #0472e0;
}
div.message-column p{
    font-size: 20px;
    text-align: justify;
    
}
div.message-column input[type="email"], div.message-column textarea{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #0472e0;
}
div.message-column div#name-surname-group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
div.message-column input[type="text"]{
    width: 49%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #0472e0;
}
textarea{
    max-height: 200px;
    height: 200px;
    min-height: 200px;
    resize: none;
}
div.message-column label{
    font-size: 18px;
    font-weight: bold;
    color: #0472e0;
    margin: 5px 0px;
}
div.message-column button{
    background-color: #0472e0;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 10px;
    width: 40%;
}


  #map {
    width: 100%;
    height: 500px;	
  }

#mapPopup {
    text-align: center;
    color: white;
    font-size: 12px;
}
.leaflet-popup-content-wrapper {
    background-color: rgba(255, 123, 0, 0.5);
    color: white;
    padding: 10px;
    border-radius: 20px;
    
    
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );

}
.leaflet-popup-tip {
    background-color: rgba(255, 123, 0, 0.5);
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
}
div.galleryContainer{
    width: 70%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
div.galleryContainer h1{
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 0.2em;
}
div.galleryContainer a#galleryButton{
    color: #0472e0;
    font-weight: bold;
    border: 2px solid #0472e0;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    transition: all 0.3s;
    margin: 10px auto;
    text-align: center;
    position: relative;
    overflow: hidden;
    width: 50%;


}
div.galleryContainer a#galleryButton::before{
    content: '→';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0472e0;
    display: flex;
    top: 0;
    left: 0;
    padding: 20px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    transition: all 0.2s;
    transform: translateY(100%);
    color: white;
    
}
div.galleryContainer a#galleryButton:hover::before{
    transform: translateY(0%);
}
div#imageGallery{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px auto;
    width: 100%;
    flex-wrap: wrap;
}
div#imageGallery a{
    width: 30%;
    height: 300px;
}
div#imageGallery img{
    width: 100%;
    height: 100%;
    box-shadow: 0 0px 16px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    transition: all 0.5s;
    object-fit: cover;
}
div#imageGallery img {
    transition: all 0.3s;
}

div#imageGallery:hover img {
    opacity: 0.5;
    transform: scale(0.9);
}

div#imageGallery img:hover {
    transform: scale(1.1);
    z-index: 1000;
    opacity: 1;
    border-radius: 20px;
}
div#contactHeader{
    background-color: rgba(0, 162, 255, 0.9);
    color: white;
    padding: 40px 0;
    text-align: center;
    width: 100%;
    font-size: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-weight: bold;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
div#contactHeader i{
    margin-right: 10px;
}
div#newsLetter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 20px;
}
div#newsLetter h1{
    font-size: 3em;
    font-weight: bold;
    margin: 0.3em auto;
    color: #0472e0;
}
div#newsLetter p{
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}
div#newsLetter form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
}
div#newsLetter div.newsLetterForm{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;

}
div#newsLetter form input[type="email"]{
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #0472e0;
    text-align: center;
    font-size: 20px;
}
div#newsLetter form button{
    background-color: #0472e0;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    width: 20%;
}
div#newsLetter form button:hover{
    background-color: #178bff;
}